<footer>
  <p> 
     Images and associated metadata in <strong>The Woodhull Sentinel Digital Newspaper Archive</strong> © 2025<script>document.write("—" + new Date().getFullYear());</script> by <strong>The Town of Woodhull New York</strong> are licensed under CC BY 4.0. To view a copy of this license, visit <a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a> 
  </p>
  <p>
     This license enables reusers to distribute, remix, adapt, and build upon the material in any medium or format, so long as attribution is given to <strong>The Town of Woodhull New York</strong>. The license allows for commercial use. 
  </p>
  {% if page.url != "/about/" %}<p><a href="/about">More information about the archive.</a></p>{% endif %}
</footer>
