| Title | Issues | Date Range |
| --- | --- | --- |
{%- for pub in metadata.publications %}
| **{{ pub.title }}** | {{ pub.issueCount }} | {% if pub.minDate == pub.maxDate %}{{ pub.minDateDisplay }}{% else %}{{ pub.minDateDisplay }} – {{ pub.maxDateDisplay }}{% endif %} |
{%- endfor %}
