---
layout: layouts/base.njk
title: Home
---

<section>
  <p class="subhead">
  Digital newspaper archive by The Town of Woodhull New York.
  <a href="/about"><small>(more)</small></a>
  </p>
  {% include "components/stats.njk" %}
  {% include "components/search-form.njk" %}
  {% include "components/browse-list.njk" %}
</section>



