---
layout: layouts/base.njk
title: Search
wide: true
---

<div class="container">
{% include "components/search-form.njk" %}
</div>

<div id="search-status">
  <p>Enter a search term above to search {{ metadata.totalPages }} newspaper pages.</p>
</div>

<div id="results-grid" class="results-grid"></div>

<script src="/assets/js/vendor/flexsearch.bundle.min.js"></script>
<script src="/assets/js/search.js"></script>
